<form action="/article" method="post">
    <h1>
        <input type="text" name="title" value="title" %>
    </h1>
    <main>
        <input type="text" name="body" value="body" %>
        <input type="text" name="diagram_url"value="diagram_url" %>
    </main>
    <input type="hidden" name="user_id" value=1>
    <footer>
        <button>submit</button>
    </footer>
</form>





