<h1>Sign up</h1>

<form action="/user" method="post" style="display: grid; grid-template-columns: 40% 1fr">
    <label for="">email</label>
    <input type="text" name="email" value="This is your login">
    <label for="">password</label>
    <input type="password" name="password">
    <label for="">username</label>
    <input type="text" name="username">
    <button>submit</button>
</form>




