<h1>Coding wiki for Novices</h1>
<main>Welcome to coding wiki for novices. Here we want to have a collection of articles which our users have created. Feel free to peruse the articles and if you are feeling up to it sign up, log in and add an article yourself. A good place to start is the article on programatic thinking.</main>



 

